body{
    background-color: khaki;

}

.div-container {
    background-color: bisque;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.result {
    background-color: aqua;
    height: 55vh;
    width: 20vw;
    text-align: center;
    border-radius: 8%;
}
#score{
    background-color:red;
    
}
.summary{
    background-color: cadetblue;
    height: 55vh;
    width: 20vw;
    text-align: center;
    border-radius: 8%;

}